@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    ;
}

/*wrap*/
.wrap {
    background-color: #71783d;
    color: white;
    width: 65%;
    margin-inline: auto;
    padding: 20px;
}

.wrap-position{
    position: relative;
    height: 100vh;
}

header{
    position: absolute;
    top: 100px;
    right: 0;
}

.cont{
    position: absolute;
    top: 150px;
    
}

